# Скопируйте в .env командой: ./scripts/init-env.sh
# Случайные секреты скрипт сгенерирует сам. Вручную нужно вписать только BOT_TOKEN.

DOMAIN=mraz1vpn.ru
BOT_USERNAME=mraz1vpn_bot
BOT_TOKEN=
ADMIN_IDS=8303871384

BOT_WEBHOOK_SECRET=
SESSION_SECRET=
POSTGRES_PASSWORD=
APP_DB_PASSWORD=
SYSTEM_DB_PASSWORD=
